@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {
    @if(User.checkAdmin(session.get("name")) == true){
        <h1>Welcome to master !!</h1>
    }else{
	<h1>Welcome !!</h1>
    }

    <h2>@tasks.size() 個のタスク</h2>
    <ul>
        @for(task <- tasks) {
	    <li>
	        @task.label
		@form(routes.Application.deleteTask(task.id)) {
                    <input type="submit" value="削除">
		}
                @form(routes.Application.task(task.id)) {
		    <input type="submit" value="詳細">
		}
	    </li>
        }
    </ul>

    <h2>新しいタスク</h2>
    @form(routes.Application.newTask()) {
        @inputText(taskForm("label"))
	<input type="submit" value="作成">
    }

    <a href="/logout">ログアウト</a>
    @form(routes.Users.mypage(User.checkId(session.get("name")))){
      <button type="submit">マイページへ</button>
    }
}
